.config/vesktop/Crashpad/
.config/vesktop/sessionData/
.config/vesktop/state.json
.config/dconf/
.config/session/
.config/pulse/
.config/gh/
.config/Code\ -\ OSS/
.config/BraveSoftware
.config/chromium
.config/unity3d
.config/menus
.config/Bitwarden
.config/bluebubbles-desktop-app
.config/Proton/
.config/rustdesk/
.config/dissent/secrets/
.config/obsidian/
.config/go/
.config/libreoffice/
.config/Code/
